@import "/styles/mixins/colors.scss";

.button{
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: $gren-color;
    border: none;

    &.primary {
    background-color: $gren-color;
    color: $white-color;
}

    &.secundary {
    background-color: $white-color;
    color: $purple2-color;


}

    &.full {
        padding: 21px;
        width: 100%;
        font-size: 21px;
        font-weight: 600;
        background-color: $gren3-color;
        color: $white-color;
    
}
}

