$purple-color: #380158;
$purple2-color: #350053;
$purple3-color: #26003b;

$white-color: #fff;
$white2-color: #c9c9c9;

$grey-color: #AFAFAF;
$gray-color: #afafaf;
$gray2-color:  #4a4a4a;
$gray3-color: #f7f7f7;
$gray4-color: #606060;

$gren-color: #0dc74f;
$gren2-color: #0FCE33;
$gren3-color: #0aaa28;